body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    width: 300px;
    padding: 20px;
    background-color: rgba(13, 218, 245, 0.3);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.register-container{
    display: none;
    width: 300px;
    padding: 20px;
    background-color: rgba(13, 218, 245, 0.3);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;
}

button {
    width: 25%;
    padding: 10px;
    background-color: #fab51f;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 15px;
}

button:hover {
    background-color: #e7951a;
}

a {
    color: #ff9900;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: aqua;
}
