*{
    padding: 0%;
    margin: 0%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
    border-radius: 10px;
  }
  
  .logo {
    height: 50px;
    margin-left: 20px;
  }
  
  .logo img {
    width: auto;
    height: 100%;
  }
  
  .nav-items {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-right: 20px;
    transition: all 0.3s ease;
  }
  
  .nav-item a {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
  }
  
  .nav-item a:hover {
    background-color: white;
    color: black;
  }
  
  .nav-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);
  }

  #home {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 50px 150px;
    height: 93vh;
    /* background-color: aqua; */
    /* background-image: url('assets/28shark-tank-india-3.jpeg');  */
    background-size: cover;
    background-position: center;
  }
  
  .home-content {
    width: 50%;

  }
  
  .home-content h1 {
    font-size: 48px;
    /*color: #338fbe;*/
    color:#4942E4;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
#home_content_text{
  text-shadow: 2px 2px 2px rgb(0, 0, 0);

}

  .home-image-gallery {
    width: 33%;
    height: 85%;
    position: relative;
    overflow: hidden;
    background-color: black;
    border-radius: 25px;
  }
  
  .slideshow {
    height: 100%;
    width: 100%;
    position: relative;
}

.slideshow a {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.slideshow img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slideshow img.visible {
    opacity: 1;
}

.products {
  text-align: center;
  padding: 20px;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  width: calc(33% - 20px);
  box-sizing: border-box;
}

.product img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product h3 {
  margin: 10px 0;
  font-size: 18px;
}

.product p {
  margin: 5px 0;
}

.product a {
  text-decoration: none;
  color: #00bef8;
  padding: 5px 10px;
  border: 1px solid #45bdbb;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.product a:hover {
  background-color: #f0f483;
}

#SharkInfo,ashneer {
  text-align: center;
  padding: 20px;
}

.changebox{
  margin: 0 5px;
  /*color: #ecf71a;*/
  color: #FFEF00;
  overflow: hidden;
  transition: .5s;
  white-space: nowrap;
  /* background-color: #45bdbb; */
  padding-bottom : 25px;margin-bottom: 5px;
  padding-right: 100px;padding-top: -5px;
}

.submenu {
  display: none; /* by default, hide the submenu */
  position: absolute; /* position the submenu relative to its parent element */
  top: 100%; /* position the submenu below the parent element */
  left: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  border: 1px solid black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  list-style-type: none;
  padding-top: 10px;
}

.nav-item:hover .submenu {
  display: block; /* show the submenu when the user hovers over the parent element */
}

.submenu-items{
  padding-top: 10px;
}
.submenu-items a{
  background-color: black;
  background-size: 100px;
}

article {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

/* basic article elements styling */
article h2 {
  margin: 0 0 18px 0;
  font-family: "Bebas Neue", cursive;
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 24px;
}

article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #28666e;
}

article a:focus {
  outline: 1px dotted #28666e;
}

article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


/************************ 
Generic layout (demo looks)
**************************/

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* body {
  margin: 0;
  padding: 48px 0;
  font-family: "Figtree", sans-serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
  background-image: linear-gradient(45deg, #7c9885, #b5b682);
  min-height: 100vh;
} */

.articles {
  display: grid;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
}

@media screen and (max-width: 960px) {
  article {
    container: card/inline-size;
  }
  .article-body p {
    display: none;
  }
}

@container card (min-width: 380px) {
  .article-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 16px;
  }
  .article-body {
    padding-left: 0;
  }
  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  figure img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}


body {
  position: relative;
  margin-top: 0;
  /*background-image: url("assets/shark1 bg.jpg");
  z-index: -2;
  background-repeat: repeat-y;*/
  
}

/*body::before {
  content: "";
  background-image: url("assets/ai shark bg1.png");
  background-size:cover;
  background-repeat: repeat;
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 1;  change the opacity value to adjust the transparency of the new image 
}*/

body::after {
  content: "";
  background-image: url("assets/shark bg.jpg");
  /*background-color: #ADD8E6;*/
  background-blend-mode:multiply;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.9; /* Adjust as needed */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}


/*#ashneer{
  margin-left: auto;
  margin-right: auto;
}*/